NETWORK='mainnet'
MAINNET_RPC_URL=https://someurl
PK=somePrivateKey
IS_PROD=False
# IS_PROD=True
FRAXTAL_RPC_URL="xxxxxx"
FRAXTAL_API_KEY="xxxxxx"
ETHERSCAN_API_KEY="xxxxxx"
ETHERSCAN_API_URL="xxxxxx"
FRAXSCAN_API_URL="xxxxxx"
FRAXSCAN_TESTNET_API_URL="xxxxxx"
HOLESKY_API_URL="xxxxxx"